<%= link_to 'Back to home', root_path %>

<ul>
  <% @customers.each do |customer| %>
  <li>
    <%= render 'customer', customer_data: customer %>
  </li> 
  <% end %>
</ul>

<%= link_to 'Create new customer', new_customer_path  %>