<div class="jumbotron mt-3">
  <h1 class="display-4 text-center mb-3">Welcome to my cookbook</h1>
  <%= link_to 'See my customers', customers_path, class: 'btn btn-primary btn-block' %>
</div>

<%= link_to 'Create new meal', new_meal_path, class: 'btn btn-success btn-block btn-lg' %>


<div class="row">
  <% @meals.each do |meal| %>
    <div class="col-4">
      <div class="card my-3">
        <video height="320">
          <source src="<%= meal.video_url %>" type="video/mp4">
        </video>
        <div class="card-body">
          <h5 class="card-title"><%= meal.name %></h5>
          <a href="#" class="btn btn-primary btn-block">Show</a>
        </div>
      </div>
    </div>    
  <% end %>
</div>

