<div class="col-4">
  <div class="card my-3">
    <video height="320">
      <source src="<%= meal.video_url %>" type="video/mp4">
    </video>
    <div class="card-body">
      <h5 class="card-title"><%= meal.name %></h5>
      <a href="#" class="btn btn-primary btn-block">Show</a>
      <%= link_to 'Comment', new_meal_comment_path(meal), class: 'btn btn-secondary btn-block' %>
    </div>
  </div>
</div>  